@import 'mixin';
@import 'variables';

.wrapper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;

    @include flex(column, center, center);
    @include responsive(max, $sm-laptop) { width: 95%; }
}

p, .subhead {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;

    @include responsive(max, $sm-laptop) { font-size: 14px; }
    @include responsive(max, $tab) { font-size: 12px; }
}

a {
    font-size: 16px;
    font-weight: 400;
                
    @include responsive(max, $sm-laptop) { font-size: 14px; }
    @include responsive(max, $tab) { font-size: 12px; }
}

.title {  
  padding-bottom: 0.6em;
  font-size: 28px;
  font-weight: 500;
  text-transform: capitalize;
  
  @include responsive(max, $sm-laptop) { font-size: 24px; }
  @include responsive(max, $tab) { font-size: 20px; }
}

.heading {  
  padding-bottom: 0.6em;
  font-size: 24px;
  font-weight: 500;

  @include responsive(max, $sm-laptop) { font-size: 20px; }
  @include responsive(max, $tab) { font-size: 16px; }
}

.logo {
  a {     
      color: $black; 
      font-size: 20px;
      font-weight: 500; 
      text-transform: uppercase;
      
      @include responsive(max, $sm-laptop) { font-size: 18px; }
      @include responsive(max, $tab) { font-size: 16px; }
  }
    
}

section { 
  padding: 50px 0;

  &:nth-child(even) { background-color: $lightgray; }

  @include responsive(max, $sm-laptop) { padding: 40px 0; }
  @include responsive(max, $tab) { padding: 30px 0; }
}

.button {
  padding: .8em 1.5em;
  border: none;
  border-radius: 5px;
  background-color: $green;
  color: $white;
  text-transform: capitalize;

  &:hover {
    @include responsive(min, $sm-laptop) { background-color: darken($green, 20%); }
  }
}

.highlight { color: $green; }