@mixin Flex($direction, $justify, $align) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  @if $direction == row {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
        -moz-box-direction: normal;
       -moz-box-orient: horizontal;
  } @else {
    -webkit-box-direction: normal;
     -webkit-box-orient: vertical;
       -moz-box-direction: normal;
        -moz-box-orient: vertical;
  }
  -webkit-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
    
    
          @if $justify == flex-start {
            -webkit-box-pack: start;
               -moz-box-pack: start;
               -ms-flex-pack: start;
          } @else if $justify == flex-end {
            -webkit-box-pack: end;
               -moz-box-pack: end;
               -ms-flex-pack: end;
          } @else if $justify == space-between {
            -webkit-box-pack: justify;
               -moz-box-pack: justify;
               -ms-flex-pack: justify;
          } @else if $justify == space-around {
               -ms-flex-pack: distribute;
          } @else {
            -webkit-box-pack: $justify;
               -moz-box-pack: $justify;
               -ms-flex-pack: $justify;
          }
          -webkit-justify-content: $justify;
                  justify-content: $justify;


                    @if $align == flex-start {
                      -webkit-box-align: start;
                         -moz-box-align: start;
                         -ms-flex-align: start;
                    } @else if $align == flex-end {
                      -webkit-box-align: end;
                         -moz-box-align: end;
                         -ms-flex-align: end;
                    } @else {
                      -webkit-box-align: $align;
                         -moz-box-align: $align;
                         -ms-flex-align: $align;
                    }
                    -webkit-align-items: $align;
                            align-items: $align;
}

@mixin flexwrap($wrap) {
  -webkit-flex-wrap: $wrap;
  @if $wrap == nowrap {
    -ms-flex-wrap: none;
  } @else {
    -ms-flex-wrap: $wrap;
  }
  flex-wrap: $wrap;
}

@mixin prefix($property,$value) {
  -webkit-#{$property}: $value;
  -ms-#{$property}: $value;
  #{$property}: $value;
}

@mixin icon($type, $loc) {
  display: block;
  &::#{$loc} {
    font-family: "Font Awesome 5 #{$type}";
    font-weight: 900;
    text-indent: 0;
    @content;
  }
}

@mixin responsive($width) {
  @media (max-width: $width) {
      @content;
  }
}