// View ports
$laptop: 1280px;
$sm-laptop: 995px;
$tab:768px;
$mobile: 550px;

// Colors variables
$black: #000;
$white: #fff;
$green: #3ed9a5;
$blue: #4e59fe;
$pink: #f73c85;
$gray: #a1aaa7;
$lightgray: #f5f9f6;
$darkgray: #2d3b38;

