html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll;
  scroll-behavior: smooth; }

/* Align radios and text inputs with their label */
input[type="radio"] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -0.7em; }

sub {
  bottom: -0.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*for all*/
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (max-width: 995px) {
    .wrapper {
      width: 95%; } }

p, .subhead {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em; }
  @media (max-width: 995px) {
    p, .subhead {
      font-size: 14px; } }
  @media (max-width: 768px) {
    p, .subhead {
      font-size: 12px; } }

a {
  font-size: 16px;
  font-weight: 400; }
  @media (max-width: 995px) {
    a {
      font-size: 14px; } }
  @media (max-width: 768px) {
    a {
      font-size: 12px; } }

.title {
  line-height: 1.2em;
  font-size: 28px;
  font-weight: 500; }
  @media (max-width: 995px) {
    .title {
      font-size: 24px; } }
  @media (max-width: 768px) {
    .title {
      font-size: 20px; } }

.heading {
  font-size: 20px;
  font-weight: 500; }
  @media (max-width: 995px) {
    .heading {
      font-size: 17px; } }
  @media (max-width: 768px) {
    .heading {
      font-size: 15px; } }

.logo a {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase; }
  @media (max-width: 995px) {
    .logo a {
      font-size: 18px; } }
  @media (max-width: 768px) {
    .logo a {
      font-size: 16px; } }

section {
  padding: 50px 0; }
  section:nth-child(even) {
    background-color: #f5f9f6; }
  @media (max-width: 995px) {
    section {
      padding: 40px 0; } }
  @media (max-width: 768px) {
    section {
      padding: 30px 0; } }

.button {
  padding: .6em 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #3ed9a5;
  color: #fff;
  text-transform: capitalize; }
  @media (min-width: 995px) {
    .button:hover {
      background-color: #1d946c; } }

.highlight {
  color: #3ed9a5; }

.info-icon {
  color: #a1aaa7; }
  .info-icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-indent: 0;
    padding-right: .5em;
    color: #3ed9a5; }
  @media (min-width: 995px) {
    .info-icon:hover {
      color: #3ed9a5; } }

.call {
  padding-right: 1em; }
  .call::before {
    content: "\f879"; }

.mail {
  padding-left: 1em;
  border-left: 1px solid #a1aaa7; }
  .mail:before {
    content: "\f0e0"; }

.social {
  margin-right: 2em;
  display: block;
  position: relative;
  color: #a1aaa7;
  text-indent: -9999px; }
  .social::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    text-indent: 0;
    position: absolute;
    left: 0; }
  @media (min-width: 995px) {
    .social:hover {
      color: #3ed9a5; } }

.facebook::before {
  content: "\f39e"; }

.twitter::before {
  content: "\f099"; }

.instagram::before {
  content: "\f16d"; }

.ball::before {
  font-family: "Font Awesome 5 Free";
  content: "\f434"; }

.contact-info {
  padding: 1em 0;
  border-bottom: 1px solid #a1aaa7; }
  .contact-info .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 550px) {
      .contact-info .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }

.social-top {
  margin-right: -1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 550px) {
    .social-top {
      margin-top: 1em; } }

header {
  padding: 1em 0; }
  header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

.logo {
  flex-basis: 15%; }

.search-ctn {
  flex-basis: 20%;
  border: 1px solid #a1aaa7;
  border-radius: 3px;
  margin-left: -3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  .search-ctn input {
    flex-basis: 50%;
    display: block;
    padding: .5em;
    border: none;
    border-left: 1px solid #a1aaa7;
    outline: none; }

.search {
  flex-basis: 15%;
  display: block;
  position: relative;
  color: #3ed9a5;
  text-indent: -9999px; }
  .search::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-indent: 0;
    padding: 0 .5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "\f002";
    font-size: 14px; }

nav {
  flex-basis: 65%; }
  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    @media (max-width: 768px) {
      nav ul {
        width: 100%;
        padding: 2em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 40px;
        left: 0;
        background-color: #000;
        -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
        transform: translateX(200%);
        -webkit-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; } }
    nav ul li {
      margin-left: 1.5em; }
      nav ul li a {
        color: #a1aaa7; }
        @media (min-width: 995px) {
          nav ul li a:hover {
            color: #3ed9a5; } }

.menu {
  display: none;
  position: absolute;
  right: 0; }
  @media (max-width: 768px) {
    .menu {
      display: block; } }
  .menu:hover .line:nth-child(2) {
    opacity: 0; }
  .menu:hover .line:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg); }
  .menu:hover .line:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg); }
  .menu:hover ~ nav ul {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .menu .line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #3ed9a5;
    text-indent: -9999px;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .menu .line:first-child {
      margin-bottom: 5px; }
    .menu .line:last-child {
      margin-top: 5px; }

.banner {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(https://images.pexels.com/photos/4916259/pexels-photo-4916259.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  .banner::after {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: 1; }
  .banner * {
    z-index: 2; }
  .banner .wrapper p {
    letter-spacing: 3px;
    text-transform: uppercase; }

.banner-title {
  margin-bottom: 1em;
  font-size: 42px;
  font-weight: 500; }
  @media (max-width: 995px) {
    .banner-title {
      font-size: 36px; } }
  @media (max-width: 768px) {
    .banner-title {
      font-size: 28px; } }

.doctor-content {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  @media (max-width: 995px) {
    .doctor-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }
  @media (max-width: 550px) {
    .doctor-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .doctor-content li {
    margin-bottom: 20px;
    flex-basis: 25%;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75); }
    @media (max-width: 995px) {
      .doctor-content li {
        flex-basis: 30%; } }
    @media (max-width: 550px) {
      .doctor-content li {
        width: 80%; } }
    .doctor-content li .heading {
      display: block;
      margin-top: 1em;
      margin-left: .5em; }
    .doctor-content li .subhead {
      display: block;
      margin-bottom: 1em;
      margin-left: .5em;
      color: #a1aaa7; }

.arrow-ctn {
  padding: .5em 1em;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #3ed9a5; }

.arrow {
  display: block;
  position: relative;
  color: #fff;
  text-indent: -9999px; }
  .arrow::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-indent: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  @media (min-width: 995px) {
    .arrow:hover {
      color: #000; } }

.left::before {
  content: "\f060"; }

.right::before {
  content: "\f061"; }

.download {
  background-color: #3ed9a5; }
  .download .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    @media (max-width: 768px) {
      .download .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; } }
    @media (max-width: 550px) {
      .download .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px; } }
    .download .wrapper > img {
      flex-basis: 20%;
      margin-top: 30px; }
      @media (max-width: 1280px) {
        .download .wrapper > img {
          flex-basis: 25%; } }
      @media (max-width: 768px) {
        .download .wrapper > img {
          flex-basis: 30%; } }

.download-content {
  flex-basis: 40%;
  color: #fff; }
  @media (max-width: 1280px) {
    .download-content {
      flex-basis: 50%; } }
  @media (max-width: 768px) {
    .download-content {
      flex-basis: 60%; } }
  .download-content a img {
    margin-top: 20px; }

/*# sourceMappingURL=style.css.map */
