.about { padding-bottom: 0; }

.about-content {
  width: 100%;
  @include flex(row, space-between, center);

  img { flex-basis: 30%; }
}

.about-details {
  flex-basis: 60%;

  * { margin-bottom: 20px; }
}

.about-top {
  width: 100%;
  @include flex(row, space-between, center);

  li {
    flex-basis: 20%;
    @include flex(row, space-between, center);
  }
}