.download {
  background-color: $green;

  .wrapper { 
    @include flex(row, space-evenly, center);
    @include responsive(max, $tab) { @include flex(row, space-between, center); }
    
    @include responsive(max, $mobile) {  
      @include flex(column, center, center); 
      padding-bottom: 30px;
    }

    & > img { 
      flex-basis: 20%; 
      margin-top: 30px;

      @include responsive(max, $laptop) { flex-basis: 25%; }
      @include responsive(max, $tab) { flex-basis: 30%; }
    }
  }
}

.download-content {
  flex-basis: 40%;
  color: $white;

  @include responsive(max, $laptop) { flex-basis: 50%; }
  @include responsive(max, $tab) { flex-basis: 60%; }

  a {
    img { margin-top: 20px; }
  }

}