header { 
  padding: 1em 0;

  .wrapper { 
    @include flex(row, space-between, center); 
    position: relative;
  }
}

.logo { 
  flex-basis: 15%;
  
  @include responsive(max, $tab) { flex-basis: 50%; }
}

.search-ctn { 
  flex-basis: 20%; 
  border: 1px solid $gray;
  border-radius: 3px;
  margin-left: -3em;
  @include flex(row, flex-start, center); 

  @include responsive(max, $laptop) { 
    flex-basis: 22%;
    margin-left: -1em;
  }

  @include responsive(max, $sm-laptop) { display: none; }
  
  input { 
    flex-basis: 50%;
    display: block; 
    padding: .5em;
    border: none;
    border-left: 1px solid $gray;
    outline: none;
  }
}

.search { 
  @include icons(Free, before) {
    padding: 0 .5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "\f002";
    font-size: 14px;
  }
  flex-basis: 15%;
  display: block;
  position: relative;
  color: $green;
  text-indent: -9999px; 
}

nav { 
  flex-basis: 65%; 
  z-index: 10;

  @include responsive(max, $laptop) { flex-basis: 63%; }
  
  ul {
    width: 100%;
    @include flex(row, flex-end, center);

    @include responsive(max, $tab) {
      width: 100%;
      padding: 2em 0;
      @include flex(column, center, center);
      position: fixed;
      top: 20%;
      left: 0;
      background-color: $black;

      @include prefix(transform, translateX(200%));
      @include prefix(transition, all .3s ease-in-out);
  }

    li {
      margin-left: 1.5em;

      @include responsive(max, $tab) { margin-bottom: 1em; }

      a {
        color: $gray;

        &:hover { @include responsive(min, $sm-laptop) { color: $green; } }
      }
    }


  }
}